

<div class="mw1000 center-block">
 <div class="admin-form theme-primary">
                <div class="panel heading-border panel-primary">
                  <div class="panel-body bg-light">


 {{ form_start(form, {'attr': {'id': 'form-ui'}}) }}
                 <div id="spy1" class="section-divider mb40"><span></span></div>
		        	 <div class="row">
                        <div class="col-md-8">
                          <div class="section">
                            <label class="field">
                              {{ form_widget(form.nombre, {'attr': {'class': 'gui-input','placeholder':"Nombre de producto"}}) }}

                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="section">
                            <label class="field">
                               {{ form_widget(form.idmedidas, {'attr': {'class': 'gui-input','placeholder':'Unidad/Medidas'}}) }}

                          </div>
                        </div>
                      </div>


                      <div class="row">
                      <div class="col-md-3">
                          <div class="section">
                            <label class="field">
                              {{ form_widget(form.costo, {'attr': {'class': 'gui-input','placeholder':"Costo"}}) }}

                            </label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="section">
                            <label class="field">
                               {{ form_widget(form.precioVenta, {'attr': {'class': 'gui-input','placeholder':'Precio de venta'}}) }}

                          </div>
                        </div>


                          <div class="col-md-3">
                          <div class="section">
                            <label class="field">
                              {{ form_widget(form.cantidadPresentacion, {'attr': {'class': 'gui-input','placeholder':"Cantidad de presentacion"}}) }}

                            </label>
                          </div>
                        </div>


                          <div class="col-md-3">
                          <div class="section">
                            <label class="field">
                              {{ form_widget(form.idfamilia, {'attr': {'class': 'gui-input','placeholder':"Familia"}}) }}

                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="section">
                            <label class="field">
                              {{ form_widget(form.comentarios, {'attr': {'class': 'gui-input','placeholder':"Comentarios"}}) }}

                            </label>
                          </div>
                        </div>
                        
                      </div>

                      
                          <button type="submit" class="btn btn-success">{{ button_label|default('Guardar') }}</button>

 

		        </div>
{{ form_end(form) }} 

</div>
</div>
</div>

</div>