{% extends 'template.html.twig' %}

{% block title %}Listado de Productos{% endblock %}


 {% block addcss %}
<style type="text/css">
.idancho{
    width: 80px !important;
}
</style>
{% endblock %}
  {% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Productos</a></li>                            
              <li class="crumb-trail">Listado</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('productos_new') }}">Crear nuevo producto</a></li>
              <li class="active"><a href="{{ path('productos_new_ensamble') }}">Crear nuevo ensamble</a></li>
              
            </ul>
          </div>
         
        </header>
          
          
      {% endblock %}


{% block body %}
        <section id="content" class="table-layout animated fadeIn">
        <!-- begin: .tray-left-->

        <!-- begin: .tray-center-->
        <div class="tray tray-center">
        <!-- Panel with: Basic Footable-->

        <!-- Panel with: Data Filter-->

        <!-- Panel with: Pagination-->
        <div id="spy3" class="panel">

        <div class="panel-body pn">
        <table class="table footableproductos">
        <thead>
            <tr>
                <th class="idancho">Orden de produccion</th>
                <th>Nombre</th>
                <th>Unidad/Medida</th>
                <th>Familia</th>
                {% if is_granted('ROLE_FACTURA') or is_granted('ROLE_ALMACEN')%}
                {% else %}
                    <th>Costo</th>
                {% endif %}
                <th>Precio de Venta</th>                
                <th>Cantidad de Presentacion</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                {% if producto.ensambles|length == 0  %}
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.idmedidas.unidad }}</td>
                <td>{{ producto.idfamilia.nombre }}</td>
                {% if is_granted('ROLE_FACTURA') or is_granted('ROLE_ALMACEN')%}
                {% else %}
                <td>{{ producto.costo }}</td>
                {% endif %}
                <td>{{ producto.precioVenta }}</td>                
                <td>{{ producto.cantidadPresentacion }}</td>
                <td> 
{% if producto.brochure == "" %} 
{% else %}
                    <img id="output" class="img-responsive" {% if producto.brochure != "" %} src="{{ asset('uploads/brochures') }}/{{producto.brochure}}" {% endif %}/>
                    {% endif %}

</td>
                <td>
                    <a href="{{ path('productos_show', {'id': producto.id}) }}"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="{{ path('productos_edit', {'id': producto.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
                {% else %}
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td><B>EMSAMBLE</B></td>
                    <td><B>EMSAMBLE</B></td>
                    <td><B>EMSAMBLE</B></td>
                    <td>{{ producto.precioVenta }}</td>
                    <td><B>EMSAMBLE</B></td>

                     <td> 
{% if producto.brochure == "" %} 
{% else %}
                    <img id="output" class="img-responsive" {% if producto.brochure != "" %} src="{{ asset('uploads/brochures') }}/{{producto.brochure}}" {% endif %}/>
                    {% endif %}

</td>
                    <td>
                                           <a href="{{ path('productos_show', {'id': producto.id}) }}"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="{{ path('productos_edit_ensamble', {'id': producto.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>

                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No hay registro</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     </div>
            </div>
            <!-- Panel with: Expanding Rows-->
          
            <!-- DEMO - breaks used to extend container - DEMO--><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        </section>
{% endblock %}
