{% extends 'template.html.twig' %}

{% block title %}Listado de Productos{% endblock %}

  {% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Productos</a></li>                            
              <li class="crumb-trail">Listado</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('productos_new') }}">Crear nuevo producto</a></li>
              
            </ul>
          </div>
         
        </header>
          
          
      {% endblock %}


{% block body %}
        <section id="content" class="table-layout animated fadeIn">
        <!-- begin: .tray-left-->

        <!-- begin: .tray-center-->
        <div class="tray tray-center">
        <!-- Panel with: Basic Footable-->

        <!-- Panel with: Data Filter-->

        <!-- Panel with: Pagination-->
        <div id="spy3" class="panel">

        <div class="panel-body pn">
        <table class="table footable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Unidad/Medida</th>
                <th>Costo</th>
                <th>Precio de Venta</th>
                
                <th>Cantidad de Presentacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.unidadMedida }}</td>
                <td>{{ producto.costo }}</td>
                <td>{{ producto.precioVenta }}</td>
                
                <td>{{ producto.cantidadPresentacion }}</td>
                <td>
                    <a href="{{ path('productos_show', {'id': producto.id}) }}"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="{{ path('productos_edit', {'id': producto.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No hay registro</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     </div>
            </div>
            <!-- Panel with: Expanding Rows-->
          
            <!-- DEMO - breaks used to extend container - DEMO--><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        </section>
{% endblock %}
