{% extends 'template.html.twig' %}

{% block title %}Editar  Facturas{% endblock %}

 {% block addcss %}
  <style type="text/css">
    .precio,.total,.descuento{
      color:red !important;
    }
  </style>
{% endblock %}
{% block header %}

 <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="{{ path('productos_index') }}">Productos</a></li>                            
              <li class="crumb-trail">Editar registro</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('productos_index') }}">Listado de productos</a></li>
              <li>  {{ include('productos/_delete_form.html.twig') }}</li>             
              
            </ul>
          </div>
         
        </header>

<div class="content-header">
                <h2><b class="text-primary">Editar Productos</b>
                </h2>
              
              </div>
{% endblock %}

{% block body %}
  

    {{ include('ensamble/_form.html.twig', {'button_label': 'Actualizar'}) }}

  
{% endblock %}

{% block addscript %}

<script type="text/javascript">
      jQuery(document).ready(function (){

var total = 0;
var descuento = 0;
 var table = $('.footable').DataTable();

    $("#ensamble1_idproducto").change(function() {
       $.get( "{{ path('buscarproducto') }}", { iditems:$(this).val()}).done(function( data ) {

            if(data.length>0){ 
                  $(".monto").val(data[0]['precioventa']);         

                  total = data[0]['precioventa']*$(".cantidad").val();                
                  $(".subtotal").val(total);
                 $(".cantidad").change();
              }
              
           });
    });

      $(".cantidad").change(function() {

            var total = $(".monto").val()*$(".cantidad").val();                
            $(".subtotal").val(total);
    });

      $( ".ingresar" ).click(function() {
          var t = $('.footable').DataTable();

            var productos =  $(".producto").val();
            var cantidad =  $(".cantidad").val();
            var precio = $(".monto").val();
            var total = $(".subtotal").val();
            

                   t.row.add( [
                  $(".producto option:selected").text()+"<input type='hidden' value='"+productos+"' name='productos[]'><input type='hidden' value='"+total+"' name='subtotal[]'>",
                  $(".cantidad").val(),
                  $(".monto").val()+"<input type='hidden' value='"+precio+"' name='precio[]'><input type='hidden' value='"+cantidad+"' name='cantidad[]'>",
                    $(".subtotal").val(),
                     "<button type='button' class='btn btn-simple btn-danger btn-icon remove' title='Cancelar pedido'><span class='fa fa-remove'></span></button>"
                  ] ).draw( false );


                   $(".cerramodal").click();
                   $(".ensamble")[0].reset();

  var datossuma =  table.column( 3 ).data().sum();
  var precio = datossuma/table.column( 1 ).data().sum()
  console.log(precio);
    $(".precioventa").val(precio.toFixed(2));  


          });


       $('.footable tbody').on('click', '.remove', function () {

      var r = confirm("¿Desea quitar este registro?");
      if(r == true){
            var btn = this;
            $tr = $(this).closest('tr');
            var data = table.row($tr).data();          
            table.row($(btn).parents('tr')).remove().draw(false);
            var idfound =  $tr.find("td:eq(0)").find(".idensamble").val();


if(idfound > 0){


 $.ajax({      
      
      url:   '{{ url('emsableremove') }}',
     type: "GET",
      data: { id : idfound },    
      beforeSend: function () {
      },
      success:  function (response) {
        
      }
    }); 

}
      
 var datossuma =  table.column( 3 ).data().sum();
  var precio = datossuma/table.column( 1 ).data().sum()
  console.log(precio);
    $(".precioventa").val(precio.toFixed(2));  


          }
      });

    
});
    </script>
{% endblock %}