{% extends 'template.html.twig' %}

{% block title %}Cuentas por cobrar{% endblock %}



{% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Cuentas por cobrar</a></li>                            
              <li class="crumb-trail">Listado</li>
            </ol>
          </div>
          
        </header>
        
          
          
{% endblock %}
{% block body %}
{% for message in app.flashes('notice') %}
  


                <div class="alert alert-danger alert-dismissable">
                  <button type="button" data-dismiss="alert" aria-hidden="true" class="close"></button><i class="fa fa-remove pr10"></i><a href="#" class="alert-link">{{ message }}</a> 
                </div>
    
{% endfor %}
   <section id="content" class="table-layout animated fadeIn">
          <!-- begin: .tray-left-->
        
          <!-- begin: .tray-center-->
          <div class="tray tray-center">
            <!-- Panel with: Basic Footable-->
          
            <!-- Panel with: Data Filter-->
     
            <!-- Panel with: Pagination-->
            <div id="spy3" class="panel">
             
              <div class="panel-body pn">

                <div class="row">
                  <div class="container">
                    <div class="col-md-4">
                      <h4>Busqueda por rango de fecha</h4>
                <label>Desde</label>
                <input type="text" id="min" name="min" class="form-control js-datepickertable">
                <label>Hasta</label>
                <input type="text" id="max" name="max" class="form-control js-datepickertable">
</div>
</div>
</div>
<br>
      <div class="table-responsive">    

    <table class="table table-bordered mbn facturas">
        <thead>
            <tr>
                
                <th>FECHA</th>
                <th>NUMERO DE FACTURA</th>
                <th>CLIENTE</th>
                <th>TOTAL A PAGAR</th>
                <th>DEPOSITOS</th>
                <th>POR PAGAR</th>
                <th>FECHA A PAGAR</th>
                <th>DIAS CARTERA</th>
                <th>DIAS DE CREDITO</th>
                
             
            </tr>
        </thead>
        <tbody>
        {% for factura in facturas %}

        {% set diapasado =  date( factura.fecha ).diff(date('now')) %}
        {% set diferencia =  date( 'now' ).diff(date(factura.fechavencimiento )) %}
        {% set diasRestantes = diferencia.days %}
        {% if diasRestantes == 1 %}
            {% set diastotal = 1 %}
        {% else %}
                    {% set diastotal = diasRestantes %}
        {% endif %}

        {% if factura.forma == "CR" %}
            <tr>
                <td>{{ factura.fecha ? factura.fecha|date('d/m/Y') : ''  }}</td>         
                <td>{{ "%08d" | format(factura.numfactura) }}</td>
                <td>{{ factura.idcliente.nombre }}</td>
                <td>{{ factura.detallesFacturas|ingresomontos }}</td>
                <td>
                    {% set totaldepositos = 0 %}
                    {% for depositos in factura.movimientosdepositos %}
                      {% set totaldepositos = totaldepositos + depositos.monto %}
                    {% endfor %}
                    {{ totaldepositos }}
                </td>
                <td>
                      {% set total = factura.detallesFacturas|ingresomontos %}
                      {% set cobrar = total - totaldepositos %}
                      {{ cobrar }}
                </td>
                 <td>{{ factura.fecha ? factura.fechavencimiento|date('d/m/Y') : ''  }}</td>        
                  <td>
{% if factura.fechavencimiento|date('Y-m-d') < "now"|date("Y-m-d")   %}
    -{{ diasRestantes  }}
{% else %}
    +{{ diasRestantes  }}
{% endif %}

                   </td>
                     <td>{{ factura.dias }}</td>
        {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
               <th><h4>Totales en monetario: <span class="totales"></span> </h4></th>
            </tr>
        </tfoot>
    
  </table>
</div>
    </div>
</div>
</div>
</section>
{% endblock %}


    {% block addscript %}
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript">
          jQuery(document).ready(function () {


$.fn.dataTableExt.afnFiltering.push(
  function( oSettings, aData, iDataIndex ) {
    var iFini = document.getElementById('min').value;
    var iFfin = document.getElementById('max').value;
    var iStartDateCol = 0;
    var iEndDateCol = 0;

    iFini=iFini.substring(6,10) + iFini.substring(3,5)+ iFini.substring(0,2);
    iFfin=iFfin.substring(6,10) + iFfin.substring(3,5)+ iFfin.substring(0,2);
    console.log(iFini);

    var datofini=aData[iStartDateCol].substring(6,10) + aData[iStartDateCol].substring(3,5)+ aData[iStartDateCol].substring(0,2);
    var datoffin=aData[iEndDateCol].substring(6,10) + aData[iEndDateCol].substring(3,5)+ aData[iEndDateCol].substring(0,2);

    if ( iFini === "" && iFfin === "" )
    {
      return true;
    }
    else if ( iFini <= datofini && iFfin === "")
    {
      return true;
    }
    else if ( iFfin >= datoffin && iFini === "")
    {
      return true;
    }
    else if (iFini <= datofini && iFfin >= datoffin)
    {
      return true;
    }
    return false;
  }
);

$('.facturas').DataTable({

   "order": [[ 0, "desc" ]],
 "iDisplayLength": 1000,
           "bLengthChange":false,
                  "bFilter":true,
                  "bInfo":false,
                  "bAutoWidth":false,


        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        },
        initComplete: function () {

           var div=$('.dataTables_wrapper');

          div.find(".dataTables_filter").append('<br><label>Factura<select id="idfactura"><option value="">Factura: </option></select></label>');
            this.api().column(1).each(function () {
                var column = this;
                console.log(column);
                $('#idfactura').on('change',function(){
                var val=$(this).val();
                console.log(val);
                column.search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                });

                column.data().unique().sort().each( function ( d, j ) {
                    $("#idfactura").append( '<option value="'+d+'">'+d+'</option>' )
                } );

            });


             

          
        },

         dom: 'Bfrtip',
       
        buttons: [
            {


                extend: 'pdfHtml5',
                attr: { 
                  'class': 'btn btn-success',
                },
                text:'Imprimir PDF',
                //orientation: 'landscape',
                //pageSize: 'LEGAL',
                exportOptions: {
            columns: ':visible',
            search: 'applied',
            order: 'applied'
          },
                 download: 'open',
                 footer: true
                
            },

            { 
              extend: 'excelHtml5', 
              footer: true,
               attr: { 
                  'class': 'btn btn-success',
                },
                text:'Excel',
                exportOptions: {
                    columns: ':visible',
                    search: 'applied',
                    order: 'applied'
              }

             },
            {
              extend: 'colvis',
                collectionLayout: 'fixed two-column',
                 attr: { 
                  'class': 'btn btn-success',
                },
                text:'Selecciona columnas'
            },

            

        ]



    });


  var table = $('.facturas').DataTable();


  
    //$(".totales").html(datossuma.toFixed(2));


      $('#min').change( function() {
           table.draw(); 
          

        } );
      $('#max').change( function() { 
        table.draw(); 
      
      } );

      function funcAvisa(){
        var totalmonto = 0;

   table
    .column( 3 , {page:'current'})
    .data()
    .each( function ( value, index ) {
      totalmonto = totalmonto + parseFloat(value);
       // console.log( 'Data in index: '+index+' is: '+value );
       console.log(value);
    } );

    console.log(totalmonto);
    $(".totales").html(totalmonto.toFixed(2));

  
}
/*se la llama a los 10 segundos*/
setInterval(funcAvisa,1000);

   });




    </script>
    {% endblock %}