{% extends 'template.html.twig' %}

{% block title %}Detalles de usuarios{% endblock %}
  {% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="{{ path('rolvendedores') }}">Rol vendedores</a></li>                            
              <li class="crumb-trail">Historicos</li>
            </ol>
          </div>
          
        </header>
                  
      {% endblock %}

{% block body %}
<div class="container">
    <div class="panel">
              <div class="panel-heading"><span class="panel-title"><span class="fa fa-info"></span>Detalles de Usuario</span>
                
              </div>
            </div>
    <div id="spy1" class="row">
<div class="col-sm-12">
                <div class="panel">
                  <div class="panel-body pn">
                    
                      <table class="table">
        <tbody>
          
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>            
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            
            <tr>
                <th>Roles</th>
                <td>
                {% for user in user.roles %}
                        {% if user == 'ROLE_ADMIN' %}
                           ADMINISTRADOR
                        {% endif %}

                        {% if user == 'ROLE_USERA' %}
                           USUARIO A
                        {% endif %}

                        {% if user == 'ROLE_USERB' %}
                           USUARIO B
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
   </tbody>
                      </table>
               
                </div>
              </div>
          </div>
      </div>
   <div class="table-responsive" style="">
    <h1>Productos vendidos a: <b>{{ datosclientes.nombre }}</b></h1>
    <table class="table table-bordered mbn footable">
        <thead>
            <tr>
               
                <th>Productos</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
              {% for empresa in user.clientes if user.clientes %}
              {% if empresa.id == cliente %}
              {% for cliente in empresa.facturas %}
                
                    {% set suma = 0 %}
                    {% for sumar in cliente.detallesFacturas %}
                        <tr>
                            <td>{{ sumar.idproducto.nombre }}</td>
                            <td>{{ sumar.cantidad }}</td>
                            <td>{{ sumar.precio }}</td>
                            <td>{{ sumar.total }}</td>
                        </tr>
                
                    {% endfor %}

                
                </tr>
                {% endfor %}
                {% endif %}
              {% endfor %}
        </tbody>

    
  </table>
</div>
{% endblock %}
