{% extends 'template.html.twig' %}

{% block title %}Ventas listado{% endblock %}



{% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Ventas</a></li>                            
              <li class="crumb-trail">Listado</li>
            </ol>
          </div>
          
        </header>
       
          
          
{% endblock %}
{% block body %}
{% for message in app.flashes('notice') %}
  


                <div class="alert alert-danger alert-dismissable">
                  <button type="button" data-dismiss="alert" aria-hidden="true" class="close"></button><i class="fa fa-remove pr10"></i><a href="#" class="alert-link">{{ message }}</a> 
                </div>
    
{% endfor %}
   <section id="content" class="table-layout animated fadeIn">
          <!-- begin: .tray-left-->
        
          <!-- begin: .tray-center-->
          <div class="tray tray-center">
            <!-- Panel with: Basic Footable-->
          
            <!-- Panel with: Data Filter-->
     
            <!-- Panel with: Pagination-->
            <div id="spy3" class="panel">
             
              <div class="panel-body pn">

                <div class="row">
                  <div class="container">
                    <div class="col-md-4">
                      <h4>Busqueda por rango de fecha</h4>
                <label>Desde</label>
                <input type="text" id="min" name="min" class="form-control js-datepickertable">
                <label>Hasta</label>
                <input type="text" id="max" name="max" class="form-control js-datepickertable">
</div>
</div>
</div>
<br>
<div class="table-responsive">
    <table class="table table-bordered mbn facturas">
        <thead>
            <tr>
                <th>COD</th>
                <th>PRODUCTOS</th>
                <th>COSTO POR UNIDAD</th>
                <th>CANTIDAD AL INGRESAR</th>  
                <th>SALIDA</th>                                           
                <th>FECHA</th>
                <th>EXISTENCIA</th>   
                <th>COSTO EXTENDIDO</th>     
                <th>UBICACION</th>  
            </tr>
        </thead>
        <tbody>
       {#{% for detalles_factura in detalles_facturas %}
            <tr>
         
                <td>{{ "%08d" | format(detalles_factura.idproducto.id) }}</td>
                <td>{{ detalles_factura.idproducto.nombre }}</td>
                <td>{{ detalles_factura.idproducto.costo }}</td>
                <td>{{ detalles_factura.cantidadactual }}</td>
                 <td>{{ detalles_factura.cantidad }}</td>
                <td>{{detalles_factura.idfactura.fecha ? detalles_factura.idfactura.fecha|date('d/m/Y') : ''  }}</td>
                <td>{% set existencia = detalles_factura.cantidadactual-detalles_factura.cantidad %}
                  {{ existencia }}
                </td>
                {#<td>{{ existencia-detalles_factura.idproducto.costo }}</td>#}
              {#<td>{{ existencia*detalles_factura.idproducto.costo }}</td> </tr>#}
        {% for producto in productos %}
            {% set totalingresos = 0 %}
             {% set array = [] %}

            {% for ingresos in producto.idproducto.ingresos %}
                  {% set totalingresos = totalingresos + ingresos.cantidad %}
                  {% set array = array|merge([ ingresos.Almacen.nombre ]) %}
            {% endfor %}
            {% set totalsalida = 0 %}
             {% for salidas in producto.idproducto.detallesFacturas  %}
                  {% if salidas.idfactura.tipofactura == "F" %}
                    {% set totalsalida = totalsalida + salidas.cantidad %}
                  {% endif %}
            {% endfor %}
            {% set existencia = producto.cantidad %}
            {% set costoextendido = existencia*producto.idproducto.costo %}

            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.idproducto.nombre }}</td>
                <td>{{ producto.idproducto.costo }}</td>
                <td>{{ totalingresos }}</td>
                <td>{{ totalsalida }}</td>
                <td>{{ producto.ingresofecha ? producto.ingresofecha|date('d/m/Y') : ''  }}</td>
                <td>{{ existencia }}</td>
                <td>{{ costoextendido }}</td>
                <dl>
                <td>
                     {% for valor in array|arrayunique() %}
                         <dd>{{ valor }}</dd>
                    {% endfor %}
                </td>
              </dl>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        
    
  </table>
</div>
    </div>
</div>
</div>
</section>
{% endblock %}


    {% block addscript %}
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript">
          jQuery(document).ready(function () {



$('.facturas').DataTable({

   "order": [[ 2, "desc" ]],
 "iDisplayLength": 1000,
           "bLengthChange":false,
                  "bFilter":true,
                  "bInfo":false,
                  "bAutoWidth":false,


        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        },

         dom: 'Bfrtip',
        buttons: [
        

            { 
              extend: 'excelHtml5', 
              footer: true,
               attr: { 
                  'class': 'btn btn-success',
                },
                text:'Excel',
                exportOptions: {
                    columns: ':visible',
                    search: 'applied',
                    order: 'applied'
              }

             }

            

        ]



    });



    //$(".totales").html(datossuma.toFixed(2));
var table = $('.facturas').DataTable();

      $('#min').change( function() {
           table.draw(); 
          

        } );
      $('#max').change( function() { 
        table.draw(); 
      
      } );

      function funcAvisa(){
        var totalmonto = 0;

   table
    .column( 4 , {page:'current'})
    .data()
    .each( function ( value, index ) {
      totalmonto = totalmonto + parseFloat(value);
       // console.log( 'Data in index: '+index+' is: '+value );
       console.log(value);
    } );

    console.log(totalmonto);
    $(".totales").html(totalmonto.toFixed(2));

  
}
/*se la llama a los 10 segundos*/
//setInterval(funcAvisa,1000);





   });


$.fn.dataTableExt.afnFiltering.push(
  function( oSettings, aData, iDataIndex ) {
    var iFini = document.getElementById('min').value;
    var iFfin = document.getElementById('max').value;
    var iStartDateCol = 5;
    var iEndDateCol = 5;

    iFini=iFini.substring(6,10) + iFini.substring(3,5)+ iFini.substring(0,2);
    iFfin=iFfin.substring(6,10) + iFfin.substring(3,5)+ iFfin.substring(0,2);
    console.log(iFini);

    var datofini=aData[iStartDateCol].substring(6,10) + aData[iStartDateCol].substring(3,5)+ aData[iStartDateCol].substring(0,2);
    var datoffin=aData[iEndDateCol].substring(6,10) + aData[iEndDateCol].substring(3,5)+ aData[iEndDateCol].substring(0,2);

    if ( iFini === "" && iFfin === "" )
    {
      return true;
    }
    else if ( iFini <= datofini && iFfin === "")
    {
      return true;
    }
    else if ( iFfin >= datoffin && iFini === "")
    {
      return true;
    }
    else if (iFini <= datofini && iFfin >= datoffin)
    {
      return true;
    }
    return false;
  }
);
    </script>
    {% endblock %}