{% extends 'template.html.twig' %}

{% block title %}Productos{% endblock %}



{% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Productos</a></li>                            
              <li class="crumb-trail">Reportes</li>
            </ol>
          </div>
          
        </header>
         
          
          
{% endblock %}
{% block body %}
{% for message in app.flashes('notice') %}
  


                <div class="alert alert-danger alert-dismissable">
                  <button type="button" data-dismiss="alert" aria-hidden="true" class="close"></button><i class="fa fa-remove pr10"></i><a href="#" class="alert-link">{{ message }}</a> 
                </div>
    
{% endfor %}
   <section id="content" class="table-layout animated fadeIn">
          <!-- begin: .tray-left-->
        
          <!-- begin: .tray-center-->
          <div class="tray tray-center">
            <!-- Panel with: Basic Footable-->
          
            <!-- Panel with: Data Filter-->
     
            <!-- Panel with: Pagination-->
            <div id="spy3" class="panel">
             
              <div class="panel-body pn">

                {#<div class="row">
                  <div class="container">
                    <div class="col-md-4">
                      <h4>Busqueda por rango de fecha</h4>
                <label>Desde</label>
                <input type="text" id="min" name="min" class="form-control js-datepickertable">
                <label>Hasta</label>
                <input type="text" id="max" name="max" class="form-control js-datepickertable">
</div>
</div>
</div>
<br>#}
<div class="table-responsive">
    <table class="table table-bordered mbn facturas">
        <thead>
            <tr>
                <th>Productos</th>
                <th>Precios Asignado</th>                
                <th>Familia</th>                                
                <th>Existencia</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}

            <tr>
         
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precioVenta }}</td>                
                <td>
                  {% if producto.idfamilia != NULL %}
                          {{ producto.idfamilia.nombre }}
                  {% else %}
                      Ensamblado
                  {% endif %}                
                </td>
                <td>
                    {% set existente = 0 %}
                    {% for existencia in producto.agruparproductos %}
                        {% set existente = existente + existencia.cantidad %}
                    {% endfor %}
                    {{ existente }}
                </td>
                      </tr>
                
      
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
               <th><h4>Totales de productos: <span class="totales"></span> </h4></th>
            </tr>
        </tfoot>
    
  </table>
</div>
    </div>
</div>
</div>
</section>
{% endblock %}


    {% block addscript %}
    
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript">
          jQuery(document).ready(function () {



$('.facturas').DataTable({

   "order": [[ 0, "desc" ]],
 "iDisplayLength": 1000,
           "bLengthChange":false,
                  "bFilter":true,
                  "bInfo":false,
                  "bAutoWidth":false,


        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        },
        initComplete: function () {
            

             
              var div=$('.dataTables_wrapper');

         
          div.find(".dataTables_filter").append('<br><label>Productos<select id="idfamilia"><option value=""></option></select></label>');
            this.api().column(2).each(function () {
                var column = this;
                console.log(column);
                $('#idfamilia').on('change',function(){
                var val=$(this).val();
                console.log(val);
                column.search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                });

                column.data().unique().sort().each( function ( d, j ) {
                    $("#idfamilia").append( '<option value="'+d+'">'+d+'</option>' )
                } );

            });

          
        },

         dom: 'Bfrtip',
        buttons: [
            {


                extend: 'pdfHtml5',
                attr: { 
                  'class': 'btn btn-success',
                },
                text:'Imprimir PDF',
                //orientation: 'landscape',
                //pageSize: 'LEGAL',
                exportOptions: {
            columns: ':visible',
            search: 'applied',
            order: 'applied'
          },
                 download: 'open',
                 footer: true
                
            },

            { 
              extend: 'excelHtml5', 
              footer: true,
               attr: { 
                  'class': 'btn btn-success',
                },
                text:'Excel',
                exportOptions: {
                    columns: ':visible',
                    search: 'applied',
                    order: 'applied'
              }

             },
            {
              extend: 'colvis',
                collectionLayout: 'fixed two-column',
                 attr: { 
                  'class': 'btn btn-success',
                },
                text:'Selecciona columnas'
            },

            

        ]



    });


  var table = $('.facturas').DataTable();

    //$(".totales").html(datossuma.toFixed(2));




      function funcAvisa(){
        var totalmonto = 0;

   table
    .column( 0 , {page:'current'})
    .data()
    .each( function ( value, index ) {
      totalmonto = totalmonto + 1;
       // console.log( 'Data in index: '+index+' is: '+value );
       console.log(value);
    } );

    console.log(totalmonto);
    $(".totales").html(totalmonto.toFixed(0));

  
}
/*se la llama a los 10 segundos*/
setInterval(funcAvisa,1000);

   });




    </script>
    {% endblock %}