{% extends 'template.html.twig' %}

{% block title %}Historico de movimientos{% endblock %}


{% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Depositos</a></li>                            
              <li class="crumb-trail">Listado</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('clientes_new') }}">Crear clientes</a></li>
              
            </ul>
          </div>
         
        </header>
          
          
{% endblock %}

{% block body %}
   <section id="content" class="table-layout animated fadeIn">
          <!-- begin: .tray-left-->
        
          <!-- begin: .tray-center-->
          <div class="tray tray-center">
            <!-- Panel with: Basic Footable-->
          
            <!-- Panel with: Data Filter-->
     
            <!-- Panel with: Pagination-->
            <div id="spy3" class="panel">
             
              <div class="panel-body pn">
    <table class="table footable">
        <thead>
            <tr>
                <th>Nro de Factura</th>
                <th>Nro de deposito</th>
                <th>Fecha de Movimiento</th>
                <th>Monto</th>
                <th>Banco</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for movimientos_deposito in movimientos_depositos %}
            <tr>
                <td style="color:red">{{ "%08d" | format(movimientos_deposito.facturas.id) }}</td>
                <td>{{ movimientos_deposito.ndeposito }}</td>
                <td>{{ movimientos_deposito.fechaMovimiento ? movimientos_deposito.fechaMovimiento|date('d/m/Y') : '' }}</td>
                <td>{{ movimientos_deposito.monto }}</td>
                <td>{{ movimientos_deposito.banco }}</td>
                <td>
                    <a href="{{ path('movimientos_depositos_show', {'id': movimientos_deposito.id,'deposito':movimientos_deposito.facturas.id }) }}"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="{{ path('movimientos_depositos_edit', {'id': movimientos_deposito.id,'deposito':movimientos_deposito.facturas.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay movimientos</td>
            </tr>
        {% endfor %}
        </tbody>
     </table>

    </div>
</div>
</div>
</section>
{% endblock %}
