{% extends 'template.html.twig' %}

{% block title %}Crear deposito{% endblock %}

{% block header %}
 <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="{{ path('movimientos_depositos_index') }}">Facturas</a></li>                            
              <li class="crumb-trail">Deposito</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('movimientos_depositos_index') }}">Historico deposito</a></li>
              
            </ul>
          </div>
         
        </header>
<div class="content-header">
                <h2><b class="text-primary">Deposito </b>
                </h2>
                <h4><b>Cuentas por pagar: {{ pagare }}</b></h4>
              
              </div>


{% endblock %}

{% block body %}


    {{ include('movimientos_depositos/_form.html.twig') }}

{% endblock %}


    {% block addscript %}
    <script type="text/javascript">
      jQuery(document).ready(function () {

        $( ".guardar" ).click(function() {
var monto = {{pagare}};
  if($("#movimientos_depositos1_monto").val() > monto){
    alert("El monto que esta colocando es mayor a "+monto);
  $("#movimientos_depositos1_monto").focus();
  return false;
}
});
        });
    </script>
    {% endblock %}