{% extends 'template.html.twig' %}

{% block title %}Listado de almacen{% endblock %}

{% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Almacenes</a></li>                            
              <li class="crumb-trail">Listado</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('almacen_new') }}">Crear nuevo almacen</a></li>
              
            </ul>
          </div>
         
        </header>
          
          
{% endblock %}


{% block body %}
    <section id="content" class="table-layout animated fadeIn">
          <!-- begin: .tray-left-->
        
          <!-- begin: .tray-center-->
          <div class="tray tray-center">
            <!-- Panel with: Basic Footable-->
          
            <!-- Panel with: Data Filter-->
     
            <!-- Panel with: Pagination-->
            <div id="spy3" class="panel">
             
              <div class="panel-body pn">
    <table class="table footable">
        <thead>
            <tr>
                
                <th>Nombre</th>
                <th>Contacto</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for almacen in almacens %}
            <tr>
                
                <td>{{ almacen.nombre }}</td>
                <td>{{ almacen.contacto }}</td>
                <td>{{ almacen.telefono }}</td>
                <td>{{ almacen.correo }}</td>
                <td>
                    <a href="{{ path('almacen_show', {'id': almacen.id}) }}"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="{{ path('almacen_edit', {'id': almacen.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay registro</td>
            </tr>
        {% endfor %}
        </tbody>
     </table>

    </div>
</div>
</div>
</section>
{% endblock %}
