{% extends 'template.html.twig' %}

{% block title %}Detalles - Almacen{% endblock %}

  {% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Almacen</a></li>                            
              <li class="crumb-trail">Detalles</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('almacen_index') }}">Listado de Almacen</a></li>
              <li class="active"><a href="{{ path('almacen_edit', {'id': almacen.id}) }}">Editar Almacen</a></li>
              <li>{{ include('almacen/_delete_form.html.twig') }}</li>
              
            </ul>
          </div>
         
        </header>
          
          
      {% endblock %}
{% block body %}
<div class="container">
    <div class="panel">
              <div class="panel-heading"><span class="panel-title"><span class="fa fa-info"></span>Detalles de clientes</span>
                
              </div>
            </div>
    <div id="spy1" class="row">
<div class="col-sm-12">
                <div class="panel">
                  <div class="panel-body pn">
                    
                      <table class="table">
        <tbody>
           
            <tr>
                <th>Nombre</th>
                <td>{{ almacen.nombre }}</td>
            </tr>
             <tr>
                <th>Contacto</th>
                <td>{{ almacen.contacto }}</td>
            </tr>
             <tr>
                <th>Telefono</th>
                <td>{{ almacen.telefono }}</td>
            </tr>
             <tr>
                <th>Correo</th>
                <td>{{ almacen.correo }}</td>
            </tr>
             <tr>
                <th>Direccion</th>
                <td>{{ almacen.direccion|raw }}</td>
            </tr>
            <tr>
                <th>Comentarios</th>
                <td>{{ almacen.comentarios|raw }}</td>
            </tr>
        </tbody>
    </table>
               
                </div>
              </div>
          </div>
      </div>
{% endblock %}
