{% extends 'template.html.twig' %}

{% block title %}Listado de clientes{% endblock %}

{% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Clientes</a></li>                            
              <li class="crumb-trail">Listado</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('clientes_new') }}">Crear nuevo cliente</a></li>
              
            </ul>
          </div>
         
        </header>
          
 
{% endblock %}


{% block body %}
   <section id="content" class="table-layout animated fadeIn">
          <!-- begin: .tray-left-->
        
          <!-- begin: .tray-center-->
          <div class="tray tray-center">
            <!-- Panel with: Basic Footable-->
          
            <!-- Panel with: Data Filter-->
     
            <!-- Panel with: Pagination-->
            <div id="spy3" class="panel">
             
              <div class="panel-body pn">
                <div class="table-responsive">
                  
   <table class="table table-bordered mbn footable" id="example">
        <thead>
            <tr>
                
                <th>Nombre</th>
                <th>Nit</th>    
                <th>Vendedor</th>   
                <th>Contacto Principal</th>         
                <th>Correo</th>                     
                <th>Telefono Movil</th>
                <th>Direcciòn</th>                             
                <th>Acciones</th>
              
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.nit }}</td>                
                <td>{{ cliente.idUsuario.username }}</td> 
                <td>{{ cliente.contactoPrincipal }}</td>
                <td>{{ cliente.correo }}</td>
                <td>{{ cliente.telefonoMovil }}</td>
                <td>{{ cliente.direccion|raw }}</td>  
                <td>
                    <a title="Detalles clientes" data-toggle="tooltip" href="{{ path('clientes_show', {'id': cliente.id}) }}"><span class="glyphicon glyphicon-search"></span></a>
                    <a data-toggle="tooltip" title="Editar cliente" href="{{ path('clientes_edit', {'id': cliente.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                     <a data-toggle="tooltip" title="Crear facturas" href="{{ path('facturas_new', {'cliente': cliente.id}) }}"><span class="glyphicon glyphicon-tasks "></span></a>

                    <a data-toggle="tooltip" title="Crear Cotizacion" href="{{ path('presupuesto_new', {'cliente': cliente.id}) }}"><span class=" glyphicon glyphicon-subtitles"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay registro de clientes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>

    </div>
</div>
</div>
</section>
{% endblock %}
