
{#{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}#}


<div class="mw1000 center-block">
 <div class="admin-form theme-primary">
                <div class="panel heading-border panel-primary">
                  <div class="panel-body bg-light">


 {{ form_start(form, {'attr': {'id': 'form-ui'}}) }}
                 <div id="spy1" class="section-divider mb40"><span></span></div>
		        	 <div class="row">
                        <div class="col-md-4">
                          <div class="section">
                            <label class="field">
                              {{ form_widget(form.reciboCaja, {'attr': {'class': 'gui-input','placeholder':"RECIBO CAJA"}}) }}

                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="section">
                            <label class="field">
                               {{ form_widget(form.ordenCompra, {'attr': {'class': 'gui-input','placeholder':'ORDEN DE COMPRA'}}) }}

                          </div>
                        </div>


  						<div class="col-md-4">
                          <div class="section">
                            <label class="field">
                              {{ form_widget(form.fecha, {'attr': {'class': 'gui-input js-datepicker','placeholder':"FECHA"}}) }}

                            </label>
                          </div>
                        </div>

                      </div>

                      <div class="row">
                      		<div class="col-md-12">
                      			<div class="section">
                            		<label class="field">
                              		{{ form_widget(form.comentarios, {'attr': {'class': 'gui-input','placeholder':"COMENTARIOS"}}) }}
                            		</label>
                          </div>	
                      		</div>
                      </div>

                     

                      

                     

                      
                      
                      		 
                      
                          <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>

 

		        
{{ form_end(form) }} 

</div>
</div>
</div>

</div>
