{% extends 'template.html.twig' %}

{% block title %}Editar  Facturas{% endblock %}


{% block header %}

 <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="{{ path('facturas_index') }}">Facturas</a></li>                            
              <li class="crumb-trail">Editar registro</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('facturas_index') }}">Listado de Facturas</a></li>
              <li>  {{ include('facturas/_delete_form.html.twig') }}</li>
              
            </ul>
          </div>
         
        </header>

<div class="content-header">
                <h2><b class="text-primary">Editar Facturas</b>
                </h2>
              
              </div>
{% endblock %}

{% block body %}
  

    {{ include('facturas/_form.html.twig', {'button_label': 'Actualizar'}) }}

  
{% endblock %}
{% block addscript %}
<script type="text/javascript">
     jQuery(document).ready(function (){

var table = $('.footable').DataTable()
 var datossuma =  table.column( 3 ).data().sum();
  console.log(datossuma);
    $(".totales").html("Total: "+datossuma);

      $( ".ingresar" ).click(function() {
          var t = $('.footable').DataTable();

            var productos =  $(".producto").val();
            var cantidad =  $(".cantidad").val();
            var precio = $(".precio").val();
            var total = $(".total").val();
            var promocion = $(".promocion").val();
            var comentarios = $(".comentarios").val();

                   t.row.add( [
                    $(".producto option:selected").text()+"<input type='hidden' value='"+productos+"' name='productos[]'>",
                    $(".cantidad").val()+"<input type='hidden' value='"+cantidad+"' name='cantidad[]'>",
                    $(".precio").val()+"<input type='hidden' value='"+precio+"' name='precio[]'>",
                    $(".total").val(),
                    $(".promocion").val()+"<input type='hidden' value='"+promocion+"' name='promocion[]'>"+" "+"<input type='hidden' value='"+total+"' name='total[]'>",
                    $(".comentarios").val()+"<input type='hidden' value='"+comentarios+"' name='comentarios[]'>",
                     "<button type='button' class='btn btn-simple btn-danger btn-icon remove' title='Cancelar pedido'><span class='fa fa-remove'></span></button>"
                  ] ).draw( false );


                   $(".cerramodal").click();
                   $(".pedidos")[0].reset();

   var table = $('.footable').DataTable();
  var datossuma =  table.column( 3 ).data().sum();
  console.log(datossuma);
    $(".totales").html("Total: "+datossuma);


          });








    $("#detalles_factura_idproducto").change(function() {
       $.get( "{{ path('buscarproducto') }}", { iditems:$(this).val()}).done(function( data ) {

            if(data.length>0){ 
                  $(".precio").val(data[0]['precioventa']);         

                  var total = data[0]['precioventa']*$(".cantidad").val();                
                  $(".total").val(total);
              }
              
          });
    });


    $(".cantidad").change(function() {
          var total = $(".precio").val()*$(".cantidad").val();                
          $(".total").val(total);
    });

    var table = $('.footable').DataTable();

    $('.footable tbody').on('click', '.remove', function () {

      var r = confirm("¿Desea quitar este registro?");
      if(r == true){
            var btn = this;
            $tr = $(this).closest('tr');
            var data = table.row($tr).data();          
            table.row($(btn).parents('tr')).remove().draw(false);


      
  var datossuma =  table.column( 3 ).data().sum();
  console.log(datossuma);
    $(".totales").html("Total: "+datossuma);

          }
      });

      });

</script>
{% endblock %}