{% extends 'template.html.twig' %}

{% block title %}Facturas-Listados{% endblock %}



{% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Facturas</a></li>                            
              <li class="crumb-trail">Listado</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('clientes_index') }}">Clientes</a></li>
              
            </ul>
          </div>
         
        </header>
          
          
{% endblock %}
{% block body %}
{% for message in app.flashes('notice') %}
  


                <div class="alert alert-danger alert-dismissable">
                  <button type="button" data-dismiss="alert" aria-hidden="true" class="close"></button><i class="fa fa-remove pr10"></i><a href="#" class="alert-link">{{ message }}</a> 
                </div>
    
{% endfor %}
   <section id="content" class="table-layout animated fadeIn">
          <!-- begin: .tray-left-->
        
          <!-- begin: .tray-center-->
          <div class="tray tray-center">
            <!-- Panel with: Basic Footable-->
          
            <!-- Panel with: Data Filter-->
     
            <!-- Panel with: Pagination-->
            <div id="spy3" class="panel">
             
              <div class="panel-body pn">
<div class="table-responsive">

    <table class="table table-bordered mbn facturas">
        <thead>
            <tr>                
                <th>Num de factura</th>
                <th>Serie</th>
                <th>Recibo de Caja</th>
                <th>Orden de Compra</th>
                <th>Fecha</th>
                <th>Comentarios</th>
                <th>Total Factura</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for factura in facturas if factura.tipofactura == 'F' or factura.tipofactura == 'A' %}
            <tr {% if factura.tipofactura == 'A' %} style="background-color:red; color:white" {% endif %}>                
              <td {% if factura.tipofactura == 'F' %} style="color:red" {% endif %}>
                {% if factura.tipofactura == 'A' %}
                  ANULADA
                {% else %}
                {{ "%08d" | format(factura.numfactura) }} 
                {% endif %}
              </td>
                <td>{{ factura.serie }}</td>
                <td>{{ factura.reciboCaja }}</td>
                <td>
                {% if factura.forma  == "CR" %}
                    {{ factura.ordenCompra }}
                {% else %}
                    N/A
                {% endif %}
              </td>
                <td>{{ factura.fecha ? factura.fecha|date('d/m/Y') : '' }}</td>
                <td>{{ factura.comentarios|raw }}</td>
                <td>{{ factura.detallesFacturas|ingresomontos }} </td>
                <td>
                   {% if factura.tipofactura == 'A' %}
                    ANULADA
                   {% else %}
                    <a title="Detalles" href="{{ path('facturas_show', {'id': factura.id}) }}"><span class="glyphicon glyphicon-search"></span></a>
                    <a title="Editar Factura" href="{{ path('facturas_edit', {'id': factura.id,'cliente':factura.idcliente.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    <a title="Crear deposito" href="{{ path('movimientos_depositos_new', {'deposito': factura.id}) }}"><span class="fa fa-file"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Totales <span class="totales"></span></td>
            </tr>
        </tfoot>
    
  </table>
</div>
    </div>
</div>
</div>
</section>
{% endblock %}


    {% block addscript %}
    <script type="text/javascript">
          jQuery(document).ready(function () {



$('.facturas').DataTable({
           "bLengthChange":false,
                  "bFilter":true,
                  "bInfo":false,
                  "bAutoWidth":false,
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        },

         dom: 'Bfrtip',
        buttons: [
            {
                extend: 'pdfHtml5',
                attr: { 
                  'class': 'btn btn-success',
                },
                text:'Imprimir PDF',
                //orientation: 'landscape',
                 //pageSize: 'LEGAL',
                exportOptions: {
                    columns: [ 0,1,2,3,5]
                },
                 download: 'open',
                 footer: true
                
            }
        ]



    });


  var table = $('.facturas').DataTable();
  var datossuma =  table.column( 6 ).data().sum();
  console.log(datossuma);
    $(".totales").html(datossuma.toFixed(2));

   });
    </script>
    {% endblock %}