<table border="1">
	<tr style="background-color:greem">
			<th>
				Nombre de Producto
			</th>
			<th>
				Cantidad
			</th>
			<th>
				Precio U.
			</th>
			<th>
				Descuento
			</th>
			<th>
				Total
			</th>
	</tr>

{% set sumatoria = 0 %}
{% for factura in datos.detallesFacturas %}
{% set sumatoria = sumatoria + factura.total %}
	<tr>
		<td>
			{{ factura.idproducto.nombre }}
		</td>
		<td style="text-align:center">
			{{ factura.cantidad }}
		</td>
		<td style="text-align:center">
			{{ factura.precio }}
		</td>
		<td style="text-align:center">
			{{ factura.descuento }} %
		</td>
		<td style="text-align:center">
			{{ factura.total }}
		</td>
	</tr>

{% endfor %}
<tfoot>
<tr>
		<td colspan="4" style="text-align:right">Iva {{ iva }}%</td>
		{% set ivap = sumatoria*iva/100  %}
		<td style="text-align:center">{{ ivap }}</td>
</tr>
<tr>
		<td colspan="4" style="text-align:right">Total General:</td>
		<td style="text-align:center">{{ sumatoria+ivap }}</td>
</tr>
</tfoot>
</table>