{% extends 'template.html.twig' %}

{% block title %}Detalles - Facturas{% endblock %}

  {% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Facturas</a></li>                            
              <li class="crumb-trail">Detalles</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('facturas_index') }}">Listado de Facturas</a></li>
              <li class="active"><a href="{{ path('facturas_edit', {'id': factura.id,'cliente':factura.idcliente.id}) }}">Editar Factura</a></li>
  {% if factura.forma == "CR" %}
              <li class="active"><a href="{{ path('movimientos_depositos_new', {'deposito': factura.id}) }}">Crear deposito</a></li>
{% endif %}
 <li class="active" ><a target="_blank"  href="{{ path('factura_pdf', {'id': factura.id}) }}">Imprimir Factura</a></li>
              
              <li>{{ include('facturas/_delete_form.html.twig') }}</li>
              
            </ul>
          </div>
         
        </header>
          
          
      {% endblock %}


{% block body %}
<div class="container">
    <div class="panel">
              <div class="panel-heading"><span class="panel-title"><span class="fa fa-info"></span>Detalles de Facturas ==> Forma de Pago
                {% if factura.forma == "CC" %}
                    <b>CONTADO</b>
                {% else %}
                    CREDITO, <b>Fecha de vencimiento: </b>{{factura.fechavencimiento|date('d/m/Y')}}
                {% endif %}
              </span>
                
              </div>
            </div>
    <div id="spy1" class="row">
<div class="col-sm-12">
                <div class="panel">
                  <div class="panel-body pn">
                    
                      <table class="table">
        <tbody>
            <tr>
                <th style="font-weight:bold;font-size:25px !important">Numero de factura</th>
                <td style="color:red;font-weight:bold;font-size:25px !important">{{ "%08d" | format(factura.id) }}</td>
            </tr>
            <tr>
                <th>Recibo Caja</th>
                <td>{{ factura.reciboCaja }}</td>
            </tr>
            <tr>
                <th>Orden de Compra</th>
                <td>{{ factura.ordenCompra }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ factura.fecha ? factura.fecha|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Comentarios</th>
                <td>{{ factura.comentarios|raw }}</td>
            </tr>
        </tbody>
   </table>
               
                </div>
              </div>
          </div>
      </div>
</div>

   <table class="table footable" id="data">
                                  <thead>
                                        <tr>
                                          <th>Producto</th>
                                          <th>Cantidad</th>
                                          <th>Precio</th>
                                          <th>Sub-Total</th>
                                          <th>Orden de Produccion</th>
                                          <th>Comentarios</th>
                                        </tr>
                                  </thead>
                                  <tbody>
                                    {% if productosfacturados is defined %}
                                          
                                            {% for productos in productosfacturados %}
                                            <tr>
                                              <td>{{ productos.idproducto.nombre }}
                                                <input type="hidden" value='{{ productos.idproducto.id }}' name="productos[]">

                                                <input type="hidden" value='{{ productos.id }}' name="'idproducto[]" class="idproducto">
                                              </td>
                                              <td>{{ productos.cantidad }}
                                                <input type="hidden" value="{{ productos.cantidad }}" name="cantidad[]"></td>
                                              <td>{{ productos.precio }}<input type="hidden" value="{{ productos.precio }}" name="precio[]"></td>
                                              <td>{{ productos.total }}</td>
                                              <td>{{ productos.ordenPromocion }}
                                                <input type="hidden" value="{{ productos.total }}" name="total[]">
                                                <input type="hidden" value="{{ productos.ordenPromocion }}" name="promocion[]"></td>
                                              <td>{{ productos.comentarios }}
                                                <input type="hidden" value="{{ productos.comentarios }}" name="comentarios[]"></td>
                                             
                                            </tr>
                                            {% endfor %}
                                          
                                    {% endif %}
                                  </tbody>
                                </table>
<h1>Sub-Total: <label class="totales" style="color:red"></label></h1>
{% endblock %}

{% block addscript %}
  <script type="text/javascript">

jQuery(document).ready(function (){
        var table = $('.footable').DataTable();

    var datossuma =  table.column( 3 ).data().sum();
    $(".totales").html(datossuma);

          
      
});
  </script>
{% endblock %}